#MainMenu {visibility: hidden;}
footer {visibility: hidden;}

.stButton>button, .stDownloadButton>button {
    color: black;
    border-radius: 15px;
    border: none;
    background-color: white;
    transition: .15s;
}

.stButton>button:hover {
    color: white;
    background-color: #303030;
    transform: translate(0px,-2px);
}

.stTextInput>div>div>input {
    border: none;
}