#MainMenu {visibility: hidden;}
footer {visibility: hidden;}

body {
    color: #fff;
    background-color: #4F8BF9;
}

.stButton>button {
    color: #000;
    display: block;
    margin: auto;
    border-radius: 15px;
    border: none;
    background-color: #fff;
}

.stTextInput>div>div>input {
    border: none;
}